<%- include('_header', { title: 'Usuario' }) %>

<div class="retro-os-window">
  <header class="retro-os-caption">USUARIO.BAT</header>
  <div class="retro-os-client retro-os-client--flush-top">
    <div id="adminUserContent">Cargando...</div>
  </div>
  <div class="retro-os-actions retro-os-actions--start">
    <a href="/admin" class="btn-flat waves-effect retro-os-caption-link">Volver</a>
  </div>
</div>

<%- include('_footer') %>
