<%- include('_header', { title: 'Dashboard' }) %>

<div class="retro-os-window">
  <header class="retro-os-caption">BIENVENIDO.TXT</header>
  <div class="retro-os-client">
    <p>Aquí están tus datos:</p>
    <div id="userData">Cargando...</div>
  </div>
</div>

<%- include('_footer') %>
