<%- include('_header', { title: 'Mi Perfil' }) %>

<div class="retro-os-window">
  <header class="retro-os-caption">MI_CUENTA.CPL</header>
  <div class="retro-os-client retro-os-client--flush-top">
    <div id="profileContent">Cargando...</div>
  </div>
  <div class="retro-os-actions retro-os-actions--start">
    <a href="/dashboard" class="btn-flat waves-effect retro-os-caption-link">Ir al Dashboard</a>
  </div>
</div>

<script>
  // profile.js rellena #profileContent
</script>

<%- include('_footer') %>
